:root {
  --white: #ffffff;
  --white-hover: #bdbdbd;
  --black: #000000;
  --green: #2a3534;
  --green-hover: rgb(22, 37, 35);
  --transparent-green: #2a3534d8;
  --extra-transparent-green: #2a353448;
  --peach: #f19069;
  --peach-hover: #f37949;
  --text-shadow: #cecece;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Syne;
  color: var(--black);
  font-size: 1rem;
}

h1 {
  color: var(--white);
  font-size: 3rem;
  text-shadow: 0px 5px 4px var(--text-shadow);
}

h2 {
  font-size: 2rem;
  color: var(--white);
  text-shadow: 0px 5px 4px var(--text-shadow);
}

p {
  font-size: 1rem;
}

.button {
  min-width: 10rem;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

/* MOBILE */

/* BOOKING PAGE */

/* BACKGROUND */
.background-video {
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

/* HEADER */
.header {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--extra-transparent-green);
  z-index: 1;
}

.header--color-green {
  background-color: var(--green);
}
.header--not-transparent {
  background-color: var(--green);
}

.header__navigation {
  display: flex;
  height: 100%;
  width: 0%;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: var(--green);
  background-color: var(--transparent-green);
  overflow: hidden;
  transition: 0.5s;
  height: 100%;
}

.navigation__icon {
  color: var(--white);
  top: 2rem;
}

.navigation__icon--open {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.navigation__icon--close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 6rem;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  top: 20%;
  width: 80%;
  gap: 4rem;
}

.navigation__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
  text-wrap: nowrap;
  padding: 1.5rem 0 1.5rem 0;
  font-weight: 800;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--peach);
  color: var(--white);
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.navigation__row {
  display: none;
}

.navigation__link:focus {
  background-color: #1c2422;
  color: var(--white);
}

.button--color-peach {
  color: var(--white);
  background: var(--peach);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.hero__logo {
  width: 100%;
  max-width: 400px;
}

.hero__text {
  color: var(--white);
  margin-top: 2rem;
  font-size: 1.5rem;
}

.button--color-green {
  color: var(--white);
  background: var(--green);
  margin: 3rem 0 0 0;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--green);
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__heading {
  margin-top: 4rem;
  text-shadow: none;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 100%;
}

.footer__contactlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.footer__contact-item {
  color: var(--white);
}

.footer__phonenumber {
  color: var(--white);
  margin: 2rem 0;
}

.footer__infolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__info-item {
  color: var(--white);
}

.footer__social-media-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 100%;
}

.footer__social-media-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.footer__social-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
}

.footer__booking-button {
  margin-top: 4rem;
}

.button--color-white {
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  border: 0.3rem solid var(--white);
  background: none;
  color: var(--white);
}

.footer__logo--mobile {
  width: 50%;
  margin: 4rem 0;
  min-width: 200px;
}

.footer__logo--desktop {
  display: none;
}

.footer__copyright {
  margin-bottom: 2rem;
  color: var(--white);
}

/* ABOUT US PAGE */
.about__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 45vh;
  background-image: url(Images/photos/hotel.jpg);
  background-position: center;
}

.hero__heading {
  display: block;
  padding-top: 15vh;
  text-shadow: 0px 5px 4px var(--green);
}

.about__article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about__article--vision {
  flex-direction: column-reverse;
  padding: 0 0 4rem 0;
}

.article__image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 3 / 2;
}

.image__text {
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
}

.article__image--plant {
  background-image: url(Images/photos/plant.png);
}

.article__image--oliver {
  background-image: url(Images/photos/oliver.jpg);
  align-items: flex-end;
}

.article__image--zen-garden {
  background-image: url(Images/photos/zengarden.png);
}

.article__heading--desktop {
  display: none;
}

.article__heading--mobile {
  text-shadow: 0px 5px 4px var(--green);
}

.article__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.article__paragraph {
  color: var(--black);
  padding: 1rem 0 0 0;
  width: 100%;
  text-align: justify;
}

/* BOOKING PAGE */
.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 15vh;
}

.booking__heading {
  color: var(--black);
  margin: 3rem 0 2rem 0;
  align-self: center;
}

.booking__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem;
  margin: 0 2rem 4rem 2rem;
  border-radius: 2rem;
  gap: 2rem;
  background-color: var(--green);
  height: 600px;
}

.form__date {
  display: flex;
  flex-direction: column;
}

.form__label {
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 600;
}

.form__field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  padding: 0 4rem 0 4rem;
  margin-bottom: 2rem;
}

.form__field--desktop {
  display: none;
}

.guests__label {
  color: var(--black);
}

.form__field--date {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.form__icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.date__input {
  font-weight: 700;
  border: none;
  width: 145px;
}

/* DATE FORM CODE */
.daterangepicker {
  margin-top: -2.5rem !important;
  width: calc(100vw - 8rem) !important;
  margin: 0 4rem;
  border-radius: 1rem !important;
  flex-direction: column;
  overflow: hidden;
}

.daterangepicker .drp-calendar {
  padding: 0 !important;
  margin: auto;
}

.daterangepicker .drp-buttons .drp-selected {
  display: none;
}

.daterangepicker .drp-buttons .cancelBtn {
  display: none;
}

.daterangepicker.show-calendar .drp-buttons {
  display: flex !important;
  justify-content: center;
  border: none;
}

.daterangepicker.show-calendar .drp-buttons .btn {
  background-color: var(--peach);
  color: var(--white);
  margin: 0;
  border-radius: 0.5rem;
  height: 3rem;
  width: 6rem;
  border: none;
}

.daterangepicker
  .drp-calendar
  .calendar-table
  .table-condensed
  tbody
  tr
  td.in-range {
  background-color: var(--transparent-green);
  color: var(--white);
}

.daterangepicker
  .drp-calendar
  .calendar-table
  .table-condensed
  tbody
  tr
  td.active {
  background-color: var(--green);
}
/* END OF DATE FORM CODE*/

.form__guests {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.form__guests--mobile {
  display: flex;
  flex-direction: column;
}

.form__guests--desktop {
  display: none;
}

.guests__input {
  border: none;
  font-weight: 700;
  border: none;
}

.booking__button {
  background-color: var(--white);
  width: 70%;
  font-weight: 700;
  align-self: center;
}

.booking__rooms {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.booking__search-heading {
  color: var(--black);
  justify-self: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.booking__room {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.room__image {
  width: 100%;
}

.room__description {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 4rem 2rem;
  gap: 2rem;
}

.description__title {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  line-height: 1.5rem;
}

.title__left {
  display: flex;
  gap: 0.3rem;
}

.title__right {
  display: flex;
  gap: 0.5rem;
}

.description__text {
  text-align: justify;
}

.description__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price__cost {
  color: var(--peach);
  font-size: 3rem;
  margin-right: 0.5rem;
}

/* DESKTOP */

@media only screen and (min-width: 1000px) {
  /* ALL PAGES */

  .button {
    cursor: pointer;
  }

  .button--color-peach:hover {
    background-color: var(--peach-hover);
  }

  .button--color-green:hover {
    background-color: var(--green-hover);
  }

  .button--color-white:hover {
    background-color: var(--white);
    color: var(--green);
  }

  /* HEADER */
  .header {
    padding: 4rem 10rem;
    position: fixed;
  }

  .navigation__row {
    display: flex;
    height: 2rem;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .navigation__row-link {
    color: var(--white);
    font-size: 2rem;
    text-decoration: none;
    position: inherit;
  }

  .navigation__row-box {
    border-bottom: solid 3px var(--peach);
    padding-bottom: 3.5rem;
  }

  .navigation__row-box--line-false:hover {
    border-bottom: solid 3px var(--peach);
    padding-bottom: 3.5rem;
    color: #bc0d0d;
    transition: 0.3s;
  }

  .header__navigation {
    display: none;
  }

  .navigation__icon {
    display: none;
  }

  .navigation__icon--open {
    display: none;
  }

  .navigation__icon--close {
    display: none;
  }

  .navigation__list {
    display: none;
  }

  .navigation__link {
    display: none;
  }

  /* FOOTER */
  .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 10rem;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    height: 100%;
    border-right: 1px solid var(--white);
  }

  .footer__contactlist {
    align-items: flex-start;
    margin-top: 0;
  }

  .footer__heading {
    margin-top: 0;
  }

  .footer__contact-item {
    color: var(--white);
  }

  .footer__phonenumber {
    color: var(--white);
    margin: 0;
  }

  .footer__infolist {
    align-items: flex-start;
  }

  .footer__info-item {
    color: var(--white);
  }

  .footer__logo--desktop {
    display: block;
    position: relative;
    justify-self: center;
    top: 10%;
    width: 60%;
    min-width: 200px;
  }

  .footer__social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    border-left: 1px solid var(--white);
  }

  .footer__social-media-and-button {
    gap: 2rem;
  }

  .footer__social-media-icons {
    margin-top: 0;
  }

  .footer__logo--mobile {
    display: none;
  }

  .footer__copyright {
    margin-bottom: 2rem;
    color: var(--white);
  }

  /* HERO PAGE */

  /* BACKGROUND */
  .background-video {
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 105%;
    width: 100%;
  }

  /* HERO */
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .hero__logo {
    width: 100%;
    max-width: 400px;
  }

  .hero__text {
    color: var(--white);
    margin-top: 2rem;
  }

  .button--color-green {
    color: var(--white);
    background: var(--green);
    margin: 3rem 0 0 0;
  }

  /* ABOUT US PAGE */
  .about__main {
    padding: 4rem 10rem;
  }
  .about__hero {
    height: 45vh;
  }

  .hero__heading {
    display: none;
  }

  .about__article {
    flex-direction: row;
    padding: 4rem 0;
    justify-content: space-between;
    gap: 8rem;
  }

  .about__article--vision {
    flex-direction: row-reverse;
  }

  .about__article--eco {
    border-top: 3px solid var(--peach);
    border-bottom: 3px solid var(--peach);
  }

  .about__article--zen {
    flex-direction: row-reverse;
  }

  .article__image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 65%;
    margin-top: 1rem;
  }

  .article__heading--desktop {
    color: var(--black);
    display: block;
  }

  .article__heading--mobile {
    display: none;
  }

  .article__text {
    width: 35%;
    padding: 0;
  }

  /* BOOKING PAGE */
  .booking {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15vh 10rem 8rem 10rem;
    width: 100vw;
  }

  .booking__heading {
    margin: 6rem 0 4rem 0;
  }

  .booking__form {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 0 8rem 0;
    gap: 1rem;
    height: 200px;
  }

  .form__field {
    justify-content: space-around;
    padding: 0 1rem;
    margin-bottom: 0;
  }

  .form__field--date {
    padding: 0 2rem;
  }

  .guests__adults {
    display: flex;
    gap: 2rem;
  }

  .guests__children {
    display: flex;
    gap: 2rem;
  }

  /* DATE FORM CODE */
  .daterangepicker {
    margin-top: 2rem !important;
    width: 460px !important;
    left: 10rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .daterangepicker.show-calendar .drp-buttons .btn:hover {
    cursor: pointer;
  }
  /* END OF DATE FORM CODE*/

  .date__input:hover {
    cursor: pointer;
  }

  .form__guests--mobile {
    display: none;
  }

  .form__guests--desktop {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 500px;
  }

  .guests__input:hover {
    cursor: pointer;
  }

  .form__button {
    padding: 0.5rem 0.5rem;
    height: 4rem;
  }

  .form__button:hover {
    background-color: var(--peach);
    color: var(--white);
  }

  .booking__search-heading {
    font-size: 3rem;
    margin: 4rem 0 0 0;
    grid-column: span 2;
  }

  .booking__rooms {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 6rem;
  }

  .booking__line {
    grid-column: span 2;
    width: 100%;
    height: 3px;
    background-color: var(--peach);
    border: none;
  }

  .booking__room {
    grid-column: span 2;
    flex-direction: row-reverse;
    width: 100%;
    gap: 8rem;
  }

  .room__image {
    width: 50%;
    aspect-ratio: 3/2;
  }

  .title__icon {
    font-size: 1.5rem;
  }

  .title__heading {
    font-size: 1.5rem;
  }

  .room__description {
    width: 50%;
    justify-content: space-between;
    padding: 0;
  }

  .title__left {
    display: flex;
    gap: 0.3rem;
  }

  .title__right {
    display: flex;
    gap: 0.5rem;
  }

  @media only screen and (max-width: 1500px) {
    /* ABOUT PAGE */
    .about__main {
      padding: 4rem 10rem 0 10rem;
    }

    .about__article {
      flex-direction: column;
      padding: 0 0 4rem 0;
      width: 100%;
      gap: 2rem;
    }

    .about__article--eco {
      padding: 4rem 0;
    }

    .about__article--zen {
      padding-top: 4rem;
    }

    .article__image {
      width: 100%;
      margin-top: 0;
    }

    .article__text {
      width: 100%;
      padding: 0;
    }

    .article__paragraph {
      padding-top: 1rem;
    }

    /* BOOKING PAGE */
    .booking__room {
      flex-direction: column;
      width: 100%;
    }

    .room__image {
      width: 100%;
      height: 75%;
    }

    .room__description {
      width: 100%;
    }
  }
    @media only screen and (max-width: 1300px) {
    .booking__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      padding: 4rem 2rem;
      margin: 0 0 8rem 0;
      border-radius: 2rem;
      gap: 2rem;
      background-color: var(--green);
      height: 600px;
      width: 70%;
    }

    .form__date {
      width: 70%;
    }

    .form__guests--desktop {
      width: 70%;
    }
  }
}
